.nav-bar {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: #ffff;
    font-family: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
}

.nav-bar__container-app-icon {
    margin-left: 15px;
}

.nav-bar__app-icon {
    width: 40px;
    transition: 0.3s;
}

.nav-bar__app-name {
    font-size: 30px;
    text-decoration: none;
    width: 110px;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.nav-bar__container-search {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.nav-bar__input-search {
    font-size: 15px;
    height: 34px;
    padding: 20px;
    border-radius: 40px;
    width: 90%;
    border: none;
    background: #08080839;
}

.nav-bar_icon_search {
    width: 30px;
    height: 30px;
    cursor: pointer;
}


.nav-bar__input-search:hover {
    border: none;
    background: #5f5f5f39;
}

.nav-bar__input-search:focus {
    border: none;
}

.nav-bar__input-search::placeholder {

    color: #1d1d1d;
}

.menu {
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.menu__list-items {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 0;
    list-style: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 14px;
}

.item {
    cursor: pointer;
}

.menu__btn-upload-post,
.menu__btn-login {
    border: 1px solid rgb(173, 173, 173);
    color: #a7a7a7;
    width: 100px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.menu__btn-upload-post:hover {
    border: 1px solid rgb(155, 155, 155);
    color: #1a1a1a;
}

.nav-bar__container-avatar {
    display: flex;
}

.nav-bar__avatar {
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    border: none;
    background-color: #e6e6e6;
}

.nav-link {
    color: #a7a7a7;
    width: 100px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}