.container-forms {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}

.icon-back{
    padding: 5px;
    cursor: pointer;
    position: absolute;
}

.container-photo {
    width: 60%;
    z-index: 1;
    position: relative;
    height: 100vh;
    background-color: #f1f1f1;

}

.user-avatar {
    position: absolute;
    width: 100px;
    z-index: 10;
    background-color: #b147d1;
    border: 50px;
}

.user-photo {
    width: 100%;
    height: 120vh;

    object-fit: cover;
}


.container {
    width: 40%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right: 1px solid rgb(226, 226, 226);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 20px;
}

.text {
    color: #141951;
    font-size: 48px;
    font-weight: 700;
}

.underline {
    width: 30%;
    height: 6px;
    background: #b147d1;
    border-radius: 9px;
}

.inputs {
    display: flex;
    width: 60%;
    margin-top: 40px;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: flex;
    width: 100%;
    justify-content: center;
}

.input-form {
    width: 100%;
    height: 50px;
    background: #eae9e9;
    border-radius: 6px;
    color: #141951;
    font-size: 20px;
    padding-left: 10px;
    outline: none;
    border: none;
}

.input-form:focus {
    border: 1px solid #e8e8e8;
}

.forgot-password {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #141951;
    cursor: pointer;
    font-size: 19px;
}

.submit-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.submit {
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    height: 45px;
    background: #141951;
    color: #fff;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}




#container_error {
    color: #ff0033;
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
}

/* ----------------------------------------------sing up--------------------------------------------------*/

.container_signup {
    width: 40%;
    height: 120vh;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
}

.header_signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
}

.text_signup {
    color: #141951;
    font-size: 48px;
    font-weight: 700;
}

.underline_signup {
    width: 200px;
    height: 6px;
    background: #b147d1;
    border-radius: 9px;
}

.inputs_signup {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input_signup {
    display: flex;
    align-items: center;
    width: 480px;
    height: 40px;
    border-radius: 6px;
}

.input_signup input {
    width: 100%;
    height: 100%;
    background: #141951;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
    padding-left: 20px;
    outline: none;
}

.submit_signup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: #141951;
    color: #fff;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    margin: 10px auto;

}

#container_error_signup {
    color: #ff0033;
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
}

.terminosCondiciones {
    color: #141951;
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
}

.siTieneCuenta {
    text-align: center;
    color: #141951;
}

.siTieneCuenta p {
    margin: 0;
}